{% extends "base.html" %}
{% block table_content %}
<div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="table-all-data" >ip пользователя</th>
          <th class="table-all-data" id="th-google">Вкладка GoogleChrome</th>
          <th class="table-all-data" id="th-pycharm">Проект Pycharm</th>
          <th class="table-all-data" id="th-sublime">Файл SublimeText</th>
          <th class="table-all-data">Дата</th>
        </tr>
      </thead>
      <tbody>
     {% for data in all_data %}
        <tr class="all-data">
            <td>{{data.user_ip}}</td>

            {% if data.active_tab_url != None %} 
                <td id="active_tab_url">{{data.active_tab_url}}</td>
            {% else %} 
                <td id="active_tab_url"></td>
            {% endif %}

            {% if data.pycharm_project != None %} 
                <td id="pycharm_project">{{data.pycharm_project}}</td>
            {% else %} 
                <td id="pycharm_project"></td>
            {% endif %}

            {% if data.sublime_path != None %} 
                <td id="sublime_path">{{data.sublime_path}}</td>
            {% else %} 
                <td id="sublime_path"></td>
            {% endif %}

            <td>{{data.timestamp}}</td>
        </tr>
    {% endfor %}
    {% if all_data == [] %} 
    <tr class="all-data">
            <td colspan="5">Нет данных для отображения</td>
    </tr>
    {% endif %}
      </tbody>
    
    </table>
</div> <!-- /container -->
{% endblock %}
