{% extends "base.html" %}
{% block table_with_filter %}
<div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>

          <th class="table-all-data">ip пользователя</th>
          {% if ch_chr == None %}	
          	<th class="table-all-data">Вкладка GoogleChrome</th>
          {% else %} 
          	<th class="table-all-data hidden-lg hidden-md hidden-sm">Вкладка GoogleChrome</th>
          {% endif %}
		  
		  {% if  ch_py == None %}	
          	<th class="table-all-data">Проект Pycharm</th>
		  {% else %} 
		  	<th class="table-all-data hidden-lg hidden-md hidden-sm">Проект Pycharm</th>
		  {% endif %}

		  {% if ch_sub == None %}	
         	 <th class="table-all-data">Файл SublimeText</th>
		  {% else %} 
		  	<th class="table-all-data hidden-lg hidden-md hidden-sm">Файл SublimeText</th>
		  {% endif %}
          <th class="table-all-data">Дата</th>
        </tr>
      </thead>
      <tbody>
     {% for data in all_data %}
        <tr class="all-data">
            <td>{{data.user_ip}}</td>


            {% if ch_chr == None %}
	            {% if data.active_tab_url != None %} 
	                <td>{{data.active_tab_url}}</td>
	            {% else %} 
	                <td></td>
	            {% endif %}
	       
	        {% else %}
	        	<td class="hidden-lg hidden-md hidden-sm">{{data.active_tab_url}}</td>    
	        {% endif %}

	        {% if  ch_py == None %}
	            {% if data.pycharm_project != None %} 
	                <td>{{data.pycharm_project}}</td>
	            {% else %} 
	                <td></td>
	            {% endif %}
	        {% else %}
	        	<td class="hidden-lg hidden-md hidden-sm">{{data.pycharm_project}}</td>
	        {% endif %}
	        
			{% if ch_sub == None %}
	            {% if data.sublime_path != None %} 
	                <td>{{data.sublime_path}}</td>
	            {% else %} 
	                <td></td>
	            {% endif %}
	        {% else %}
	        	<td class="hidden-lg hidden-md hidden-sm">{{data.sublime_path}}</td>
	        {% endif %}


            <td>{{data.timestamp}}</td>
        </tr>
    {% endfor %}
    {% if all_data == [] %} 
    <tr class="all-data">
            <td colspan="5">Нет данных для отображения</td>
    </tr>
    {% endif %}
      </tbody>
    
    </table>
</div> <!-- /container -->



{% endblock %}